@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:300,400,500,600,700,800,900|Barlow:300,400,500,600,700,800,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;600&display=swap");
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

@font-face {
  font-family: "Couture";
  src: url('../fonts/couture-bld.otf');
}

body,
html {
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
button,
a,
i,
input,
body {
    margin: 0;
    padding: 0;
    list-style: none;
    border: 0;
    -webkit-tap-highlight-color: transparent;
    text-decoration: none;
    color: inherit;
}

h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
p:focus,
ul:focus,
li:focus,
button:focus,
a:focus,
i:focus,
input:focus,
body:focus {
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    height: auto;
    font-family: "Barlow", sans-serif;
    background: #003049;
}

.logo {
    position: fixed;
    z-index: 5;
    bottom: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
    backdrop-filter: blur(5px);
}

.logo img {
    width: 55%;
    height: 55%;
    transform: translateY(-1px);
    opacity: 0.8;
}

nav .menu {
    width: 100%;
    height: 80px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    box-sizing: border-box;
    z-index: 3;
    background-color: #003049;
}

nav .menu .website_name {
    color: white;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1px;
    cursor: pointer;
    opacity: 0.5;
    transition: all 0.4s ease;
    padding: 4px 0;
}

nav .menu .website_name span {
    color: #003049;
    background: white;
    padding: 4px 8px;
    margin: 0 0 0 2px;
    border-radius: 2px;
    transition: all 0.4s ease;
}

nav .menu .website_name:hover {
    opacity: 1;
}

nav .menu .website_name:hover span {
    margin: 0 0 0 5px;
    border-radius: 5px;
}

nav .menu .menu_links:hover .link {
    transition: all 0.4s ease;
    opacity: 1;
}

nav .menu .menu_links .link {
    color: white;
    opacity: 0.5;
    text-transform: uppercase;
    font-weight: 500;
    margin-right: 50px;
    letter-spacing: 2px;
    position: relative;
    transition: all 0.3s 0.2s ease;
}

nav .menu .menu_links .link:last-child {
    margin-right: 0;
}

nav .menu .menu_links .link:before {
    content: "";
    position: absolute;
    width: 0px;
    height: 4px;
    background: linear-gradient(90deg, #FFEDC0 0%, #FF9D87 100%);
    bottom: -10px;
    border-radius: 4px;
    transition: all 0.4s cubic-bezier(0.82, 0.02, 0.13, 1.26);
    left: 100%;
}

nav .menu .menu_links .link:hover {
    opacity: 1;
    color: #FB8A8A;
}

nav .menu .menu_links .link.link-active {
    opacity: 1;
}

nav .menu .menu_links .link:hover:before {
    width: 40px;
    left: 0;
}

nav .menu .menu_icon {
    width: 40px;
    height: 40px;
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

@media screen and (max-width: 1370px) {
    nav .menu .menu_icon {
        display: flex;
    }
    
    nav .menu .menu_links {
        display: none;
    }

    nav .menu[data-opened=true] .menu_links {
        display: block;
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        width: 300px;
        height: 100vh;
        padding: 30px;
        overflow-y: hidden;
        overflow-x: scroll;
        scroll-behavior: smooth;
        background-color: #003049;
        z-index: 1;
    }

    nav .menu[data-opened=true] .menu_links .link {
        display: block;
        margin: 25px 0;
    }

    nav .menu[data-opened=true] .menu_links:hover .link {
        opacity: 0.5;
    }

    nav .menu[data-opened=true] .menu_links:hover .link.link-active,
    nav .menu[data-opened=true] .menu_links .link:hover {
        opacity: 1;
    }

    nav .menu[data-opened=true] .menu_links .close_icon {
        display: flex;
        position: absolute;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        top: 20px;
        right: 65px;
    }

    nav .menu[data-opened=true] .menu_links .close_icon .icon {
        width: 24px;
        height: 2px;
        background: white;
        position: absolute;
        transform: rotate(45deg);
        transition: all 0.3s cubic-bezier(0.49, 0.04, 0, 1.55);
    }

    nav .menu[data-opened=true] .menu_links .close_icon .icon:before {
        content: "";
        width: 100%;
        height: 100%;
        background: inherit;
        position: absolute;
        transform: rotate(90deg);
        transition: all 0.3s cubic-bezier(0.49, 0.04, 0, 1.55);
    }

    nav .menu[data-opened=true] .menu_links .close_icon:hover .icon {
        background: #FFEDC0;
        transform: rotate(135deg);
    }

    nav .menu[data-opened=true] .menu_links .close_icon:hover .icon:before {
        transform: rotate(90deg)
    }
}

nav .menu .menu_links .close_icon {
    display: none;
}

nav .menu .menu_icon .icon {
    width: 24px;
    height: 2px;
    background: white;
    position: absolute;
}

nav .menu .menu_icon .icon:before,
nav .menu .menu_icon .icon:after {
    content: "";
    width: 100%;
    height: 100%;
    background: inherit;
    position: absolute;
    transition: all 0.3s cubic-bezier(0.49, 0.04, 0, 1.55);
}

nav .menu .menu_icon .icon:before {
    transform: translateY(-8px);
}

nav .menu .menu_icon .icon:after {
    transform: translateY(8px);
}

nav .menu .menu_icon:hover .icon {
    background: #FFEDC0;
}

nav .menu .menu_icon:hover .icon:before {
    transform: translateY(-10px);
}

nav .menu .menu_icon:hover .icon:after {
    transform: translateY(10px);
}

.footer {
    height: 30px;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    right: 0;
    bottom: 0;
    left: 0;
    color: white;
}

.container {
    position: absolute;
    top: 80px;
    right: 0;
    bottom: 30px;
    left: 0;
    margin: 0;
    padding: 0 40px;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.container[data-no-footer="1"] {
    bottom: 0;
}

section.cards {
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

section.cards .course {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    max-width: 100%;
    margin: 20px;
    overflow: hidden;
    width: 700px;
}

section.cards .course h6 {
    opacity: 0.6;
    margin: 10px 0 2px 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

section.cards .course h6.authors {
    margin: 0;
    text-transform: capitalize;
}

section.cards .course h3 {
    letter-spacing: 1px;
    margin: 10px 0;
}

section.cards .course-preview {
    background-color: #d62828;
    color: #fff;
    padding: 30px;
    max-width: 250px;
}

section.cards .course-preview a {
    color: #fff;
    display: inline-block;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 30px;
    text-decoration: none;
}

section.cards .course-preview a.linktoprofile {
    margin: 0;
    text-decoration: underlines;
}

section.cards .course-info {
    padding: 30px;
    position: relative;
    width: 100%;
}

section.cards .progress-container {
    position: absolute;
    top: 30px;
    right: 30px;
    text-align: right;
    width: 150px;
}

section.cards .progress {
    background-color: #ddd;
    border-radius: 3px;
    height: 5px;
    width: 100%;
}

section.cards .progress::after {
    border-radius: 3px;
    background-color: #2A265F;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    width: 66%;
}

section.cards .progress-text {
    font-size: 10px;
    opacity: 0.6;
    letter-spacing: 1px;
}

section.cards .btn {
    background-color: #f77f00;
    border: 0;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    color: #eae2b7;
    font-size: 16px;
    padding: 12px 25px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 1px;
}

section.cards svg {
    position: relative;
    display: inline-block;
    margin: 0 4px;
    top: 4px;
    height: 15px;
    width: 15px;
}

.returnToMain svg {
    position: relative;
    display: inline-block;
    margin: 0 4px;
    top: 4px;
    height: 15px;
    width: 15px;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.bolder {
    font-weight: bolder;
}

.underlined {
    text-decoration: underline;
}

.exp {
    font-size: smaller;
    vertical-align: super;
}

.indice {
    font-size: smaller;
    vertical-align: sub;
}

.uppercase {
    text-transform: uppercase;
}

.lowercase {
    text-transform: lowercase;
}

.capitalize {
    text-transform: capitalize;
}

.chip_container {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: flex-start;
}

.chip {
    margin: 10px;
}

.chip a {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
    padding: 15px 20px;
    width: fit-content;
    background-color: #eae2b7;
    color: #f77f00;
    border-radius: 10px;
}

.chip .icon {
    margin: 0 10px 0 0;
    font-size: 16px;
    color: #f77f00;
}

.chip .text {
    margin: 0;
    padding: 0;
    font-size: 16px;
    color: #000000;
}

.profile_container {
    display: block;
    position: relative;
    width: 100%;
    margin: 10px 0;
    padding: 30px;
    border-radius: 10px;
    background-color: #d62828;
    z-index: 1;
}

.profile_container .profile_icon {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 0; 
    height: 0; 
    border-top: 50px solid #eae2b7;
    border-left: 50px solid #eae2b7;
    border-top-left-radius: 10px;
    border-right: 50px solid transparent;
    border-bottom: 50px solid transparent;
}

.profile_container .profile_icon svg {
    display: block;
    position: absolute;
    top: -45px;
    left: -45px;
    width: 60px;
    height: 60px;
    color: #d62828;
}

.profile_container .title {
    color: #eae2b7;
    font-size: 40px;
    position: relative;
    left: 55px;
    font-weight: bold;
    font-family: "Couture", sans-serif;
    padding: 0;
    margin: 0 0 10px 0;
    text-transform: uppercase;
}

.profile_container .content {
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: flex-start;
}

.profile_info {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: flex-start;
    border: none;
    margin: 10px;
    padding: 0;
    background-color: #eae2b7;
    border-radius: 10px;
    width: fit-content;
    box-shadow: inset 0 0 0 2px #f77f00;
}

.profile_container .profile_info .title {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: baseline;
	align-content: flex-start;
    width: 100%;
    height: 35px;
    font-weight: normal;
    text-align: start;
    font-size: 20px;
    left:0;
}

.profile_container .profile_info .title .icon {
    position: relative;
    width: 50px;
    height: 100%;
    padding: 10px;
    border: 2px solid #f77f00;
    background-color: #f77f00 !important;
    color: #eae2b7;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 5px;
}

.profile_container .profile_info .title .icon svg {
    position: absolute;
    top: 50%; left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #eae2b7;
}

.profile_container .profile_info .title .text {
    position: relative;
    width: calc(100% - 50px);
    height: 100%;
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    bottom: 10px;
    border-top-right-radius: 10px;
    color: #f77f00 !important;
}

.profile_container .profile_info .content {
    font-size: 16px;
    color: #000000;
    padding: 0 10px 10px 10px;
    width: 100%;
}

.profile_container .profile_info .content svg {
    margin: 0 10px 0 0;
    position: relative;
    top: 2px;
    color: #000000;
}

.profile_container .profile_legend {
    position: absolute;
    display: none;
    opacity: 0;
    top: 10px;
    right: 10px;
    bottom: 10px;
    background-color: #eae2b7;
    border: 4px solid #f77f00;
    border-radius: 10px;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: scroll;
    height: max-content;
    max-height: calc(100% - 20px);
    scroll-behavior: smooth;
    transition-duration: .5s;
}

.profile_container .profile_legend .content {
    display: block;
    margin: 15px 0;
    padding: 0 20px;
}

.profile_container .profile_legend .content .content-icon {
    position: relative;
    display: inline-block;
    margin: 0 5px 0 0;
    padding: 0;
}

.profile_container .profile_legend .content .content-icon svg {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #f77f00;
}

.profile_container .profile_legend .content .content-text {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0;
    color: #000000;
}

.profile_container .profile_legend .title {
    position: relative;
    font-size: 20px;
    top: 10px;
    left: -45px;
    text-align: center;
    color: #000000;
}

.profile_container .profile_legend_icon {
    position: absolute;
    display: block;
    top: 20px;
    right: 20px;
    width: 20px; height: 20px;
    margin: 0; padding: 0;
    cursor: help;
    transition-duration: .3s;
    z-index: 3;
}

.profile_container .profile_legend_icon svg {
    position: absolute;
    display: block;
    color: #eae2b7;
    margin: 0; padding: 0;
    transition-duration: .3s;
    width: 20px; height: 20px;
}

.profile_container .profile_legend_icon:hover svg {
    color: #f77f00;
}

.profile_container .profile_legend_icon:hover + .profile_legend {
    display: block;
    opacity: 1;
}

@media screen and (max-width: 700px) {
    .chip_container {
        justify-content: center;
    }

    .profile_container .content {
        justify-content: center;
    }

    .profile_container .title {
        font-size: 30px;
    }
}